{% extends "base.html" %}

{% block title %}Tambah nilai{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Tambah nilai</h1>

    <!--TAMBAH-->
    <form action="{{ url_for('tambah_nilai') }}" method="POST">
        <div class="mb-3">
            <label for="id" class="form-label">id</label>
            <input type="number" class="form-control" id="id" name="id" required>
        </div>
        <div class="mb-3">
            <label for="nim" class="form-label">nim</label>
            <input type="text" class="form-control" id="nim" name="nim" required>
        </div>
        <div class="mb-3">
            <label for="mata_kuliah" class="form-label">mata_kuliah</label>
            <input type="text" class="form-control" id="mata_kuliah" name="mata_kuliah" required>
        </div>
        <div class="mb-3">
            <label for="semester" class="form-label">semester</label>
            <input type="number" class="form-control" id="semester" name="semester" required>
        </div>
        <div class="mb-3">
            <label for="nilai" class="form-label">nilai</label>
            <input type="text" class="form-control" id="nilai" name="nilai" required>
        </div>
        <button type="submit" class="btn btn-success">Tambah nilai</button>
    </form>
</div>
{% endblock %}